name: CD

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and deploy to Docker Hub and GHCR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true
          cache: 'maven'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.11
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and deploy to Docker Hub
        env:
          DOCKER_IO_USERNAME: ${{ secrets.DOCKER_IO_USERNAME }}
          DOCKER_IO_PASSWORD: ${{ secrets.DOCKER_IO_PASSWORD }}
        run: mvn -ntp clean install -Pci
      - name: Build and deploy to GHCR
        run: | 
          mvn -ntp clean compile jib:build \
            -Djib.to.image=ghcr.io/${{ github.repository_owner }}/quality-monitor
